rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to uploaded image assets
    match /{folder}/{allPaths=**} {
      allow read: if true;
      allow write: if true; // Allows authenticated admin uploads
    }
  }
}
